<a href="https://colab.research.google.com/github/Tahan402/Tahan402/blob/Capstone/Introduction_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Python

In [1]:
data = 123 # the data is a number

In [2]:
print(data)

123

In [4]:
data_string ='Taha' #data is now a string

In [5]:
print(data_string)

Taha

In [6]:
x = 10205 # intializing a variable called x
print(x)

10205

In [7]:
y = 14
print(y)

14

In [8]:
print('sum of x and y is',x+y)

sum of x and y is 10219

#Different types of variables are allowed in Python:

int (plain integers): integers are just positive or negative whole numbers

In [9]:
age = 28 # this is an integer variable
print(age)
print(type(age)) # Returns the type of the variable

28
<class 'int'>

long (long integers): long integers are integers of infinite size

In Python 3 int and long have been merged. We only need to use int data type

In [10]:
a = 2**150 
print(a)
print(type(a))

1427247692705959881058285969449495136382746624
<class 'int'>

float (floating point real values): floats represent real numbers, but are written with decimal points (or scientific notation) to divide the whole number into fractional parts

In [11]:
pi = 3.1416
print(pi)
print(type(pi))

3.1416
<class 'float'>

Boolean variables: They take a binary value of "True or False", True and False

Python is case sensitive. "True and False" are special keywords reserved for boolean

In [12]:
name = 'taha'
print(name)
print(type(name))

taha
<class 'str'>

Strings can be created using single quote ', double quotes '' or triple quotes """ """

In [13]:
first_name = 'Taha'
print(first_name)
last_name = "nakedar"
print(last_name)

Taha
nakedar

In [15]:
first_name = input('First Name: ',)
last_name = input ('Last Name: ')

First Name: Taha
Last Name: Nakedar

complex (complex numbers): represented by the formula a + bJ, where a and b are floats, and J is the square root of -1 (the result of which is an imaginary number). Complex numbers are used sparingly in Python

In [17]:
c= 4 + 5j # c is a complex variable with real component 4 and imaginary component is 5
print(c)

(4+5j)

#Mathematical Operators

In [18]:
x = 11
y = 14

In [19]:
z=x+y

In [20]:
z

25

In [21]:
z= x-y

In [22]:
z

-3

In [23]:
z=x*y

In [24]:
z

154

In [25]:
z=x/y

In [26]:
z

0.7857142857142857

In [28]:
z =x**y #exponent
print(z)

379749833583241

In [29]:
z=x%y # modulus

In [30]:
z

11

In [31]:
print('\nDivision 11/14 = {}'.format(x/y)) # Division of two numbers
print('\nQuotient 11//14 = {}'.format(x//y)) # Returns the Quotient from the division of two numbres
print('\nRemainder 11%14 = {}'.format(x%y)) # Returns reaminder division of two numbers

Division 11/14 = 0.7857142857142857

Quotient 11//14 = 0

Remainder 11%14 = 11

Inplace Operators

In [33]:
data = 2
data +=3 # this is as same as data + 3
print(data)

5

Strings can be accessed as whole strings or as sub strings

In [36]:
my_string = 'Python language'
print(my_string)

print(my_string[0])

print(my_string[0:3]) # prints the character from position 0 to 2

print(my_string[-3:-1]) # prints the character from position 0 to 2 in reverse order except the character at position 0

print(my_string[-3:]) # prints the character from position 0 to 2 only from the end

print(my_string[:]) # prints all the character

Python language
P
Pyt
ag
age
Python language