<a href="https://colab.research.google.com/github/Tahan402/Tahan402/blob/Capstone/Introduction_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Python

In [1]:
data = 123 # the data is a number

In [2]:
print(data)

123

In [3]:
data_string ='Taha' #data is now a string

In [4]:
print(data_string)

Taha

In [5]:
x = 10205 # intializing a variable called x
print(x)

10205

In [6]:
y = 14
print(y)

14

In [7]:
print('sum of x and y is',x+y)

sum of x and y is 10219

#Different types of variables are allowed in Python:

int (plain integers): integers are just positive or negative whole numbers

In [8]:
age = 28 # this is an integer variable
print(age)
print(type(age)) # Returns the type of the variable

28
<class 'int'>

long (long integers): long integers are integers of infinite size

In Python 3 int and long have been merged. We only need to use int data type

In [9]:
a = 2**150 
print(a)
print(type(a))

1427247692705959881058285969449495136382746624
<class 'int'>

float (floating point real values): floats represent real numbers, but are written with decimal points (or scientific notation) to divide the whole number into fractional parts

In [10]:
pi = 3.1416
print(pi)
print(type(pi))

3.1416
<class 'float'>

Boolean variables: They take a binary value of "True or False", True and False

Python is case sensitive. "True and False" are special keywords reserved for boolean

In [11]:
name = 'taha'
print(name)
print(type(name))

taha
<class 'str'>

Strings can be created using single quote ', double quotes '' or triple quotes """ """

In [12]:
first_name = 'Taha'
print(first_name)
last_name = "nakedar"
print(last_name)

Taha
nakedar

In [13]:
first_name = input('First Name: ',)
last_name = input ('Last Name: ')

First Name: taha
Last Name: nakedar

complex (complex numbers): represented by the formula a + bJ, where a and b are floats, and J is the square root of -1 (the result of which is an imaginary number). Complex numbers are used sparingly in Python

In [14]:
c= 4 + 5j # c is a complex variable with real component 4 and imaginary component is 5
print(c)

(4+5j)

#Mathematical Operators

In [15]:
x = 11
y = 14

In [16]:
z=x+y

In [17]:
z

25

In [18]:
z= x-y

In [19]:
z

-3

In [20]:
z=x*y

In [21]:
z

154

In [22]:
z=x/y

In [23]:
z

0.7857142857142857

In [24]:
z =x**y #exponent
print(z)

379749833583241

In [25]:
z=x%y # modulus

In [26]:
z

11

In [27]:
print('\nDivision 11/14 = {}'.format(x/y)) # Division of two numbers
print('\nQuotient 11//14 = {}'.format(x//y)) # Returns the Quotient from the division of two numbres
print('\nRemainder 11%14 = {}'.format(x%y)) # Returns reaminder division of two numbers

Division 11/14 = 0.7857142857142857

Quotient 11//14 = 0

Remainder 11%14 = 11

Inplace Operators

In [28]:
data = 2
data +=3 # this is as same as data + 3
print(data)

5

Strings can be accessed as whole strings or as sub strings

In [29]:
my_string = 'Python language'
print(my_string)

print(my_string[0])

print(my_string[0:3]) # prints the character from position 0 to 2

print(my_string[-3:-1]) # prints the character from position 0 to 2 in reverse order except the character at position 0

print(my_string[-3:]) # prints the character from position 0 to 2 only from the end

print(my_string[:]) # prints all the character

Python language
P
Pyt
ag
age
Python language

How to include a string with single quote within quotes?

As single/double quotes are used to mark a string we need to use a special way if we want them to use within a string.

This process is known as "Escaping"

It is done by placing a backslash character in front of them

In [30]:
my_str= 'Taha\'s city Khargone'
print(my_str)

Taha's city Khargone

In [31]:
my_str1="Python is \"exciting\""
print(my_str1)

Python is "exciting"

String Concatenation

In [32]:
new_string = 'hello'+'world'

In [33]:
new_string

'helloworld'

In [34]:
new_string1 = 'hello ' +'world'

In [35]:
new_string1

'hello world'

In [36]:
new_str = '2' + '3' # Python sees string as character

In [37]:
new_str

'23'

In [39]:
new_str1 = '2'+3 # we cannot mix data types

TypeError: ignored

Multiplication of Strings

In [40]:
new_str2 = 'data'*3

In [41]:
new_str2

'datadatadata'

In [42]:
new_str3 = 'data '*3
new_str3

'data data data '

In [43]:
str4 = '5' *3
str4

'555'

In [44]:
str5 = '9'*3.5

TypeError: ignored

Converting String Different Datatypes

In [45]:
str6 = '5' + '6'
str6

'56'

In [46]:
data = int('4')+ int('6')
print(data)

10

To take input from users the function input is used

In [47]:
data = input('Enter a number')
print(data)
print(type(data))

Enter a number

<class 'str'>

In [48]:
int_data =int(input('Enter the first number: '))
int_data1 = int(input('Enter the second number: '))
#print(int_data,int_data1)

print('the type of int_data and int_data1 is {} {}'.format(type(int_data), type(int_data1)))

print('the sum is {}'.format(int_data + int_data1))

Enter the first number: 1
Enter the second number: 2
the type of int_data and int_data1 is <class 'int'> <class 'int'>
the sum is 3

#Python Boolean

There are two Python Boolean Values: True and False


Returns "True" if both "a" and "b" are "TRUE" OR if both "a" and "b" are "FALSE"

In [49]:
A = True
B = False

print(A or B)

True

In [50]:
A = True
B = False

print(A and B)

False

In [51]:
A = False
B = False

print(A and B)

False

When "and" is used we get "True" only when both the conditions are "True". else we get "False"

In [52]:
print(4<5 and 6<7) #True and True

True

In [53]:
print (4>5 and 6>7)# False and False

False

In [54]:
print(4<5 and 6>7) # True and False

False

In [55]:
print(4>5 and 6<7) # False and True

False

When "or" is used we get "False" only when both the condition are "False" else we get "True"

In [56]:
print(4<5 or 6<7)
print(4>5 or 6>7)
print(4<5 or 6>7)
print(4>5 or 6<7)

True
False
True
True

For comparisons we use the "equal to" operator ==
NOTE: = is assignment operator and == is comparison operator

In [57]:
print(5==7)

False

In [58]:
print(8==8)

True

Another operator used for comparison is "not equal to" operator !=

In [59]:
print(2!=3)

True

In [60]:
print(2!=3) 
print('2!=3)

SyntaxError: ignored

#Control Structures in Python

An "if" statement is used to run code based on certain condition

for e.g.

if expression:
      statements

Python uses indentation to decide a block of code

In [65]:
if 2>1:
  print('2 is greater than 1') # this line of code executes when 2 is greater than 1
  print('one more')

print('Finished')

2 is greater than 1
one more
Finished

In [63]:
if 2>3:
  print('2 is greater than 3')
  print('one more')

print('Finished')

Finished

In [64]:
if 2<3:
  print('2 is less than 3')
  print('one less')

print('Finished')

2 is less than 3
one less
Finished

An "else" statement follows an "if" statement

if expression:
          statement
else:
          statement

In [67]:
int_num1 = int(input('Enter first number: '))
int_num2 = int(input('Enter second number: '))

if (int_num1 > int_num2):
  print('{} is greater than {}'.format(int_num1,int_num2))

else:
  print('{} is not greater than {}'.format(int_num1,int_num2))

Enter first number: 4
Enter second number: 2
4 is greater than 2

The 'elif' statement is used for changing if and else statement

In [69]:
num = int(input('Enter a number: '))

if num == 800:
  print('num is 800** big number')

elif num == 100:
  print ('num is 100 - small number')

elif num == 400:
  print ('num is 400 - mid number')

else:
  print('value of num is unknown')

Enter a number: 800
num is 800** big number

In [74]:
num2 = int(input('Enter a number'))

if (0>num2<33):
  print('Fail')

elif(33>num2<75):
  print('you got 2nd division')

elif(75>=num2<=100):
  print('you got 1st division')

else:
  print('value is unknown')

Enter a number75
you got 1st division

# Boolean logic is used to make complicated conditions using and,or and not

Logical "and" operator

A=true,  B=true  then  (A and B) is true

A=true,  B=false then  (A and B) is false

A=false, B=true  then  (A and B) is false

A=false, B=false then  (A and B) is false

In [75]:
cond = (1==1 and 2==2)
print('1==1 and 2==2 is {}'.format(cond))

1==1 and 2==2 is True

In [76]:
cond = (1==1 and 2==3)
print('1==1 and 2==3 is {}'.format(cond))

1==1 and 2==3 is False

In [77]:
cond = (5==6 and 2==2)
print('5==6 and 2==2 is {}'.format(cond))

5==6 and 2==2 is False

In [78]:
cond = (5==6 and 2==4)
print('5==6 and 2==4 is {}'.format(cond))

5==6 and 2==4 is False

Logical "or" operator

A=true,  B=true  then  (A or B) is true

A=true,  B=false then  (A or B) is true

A=false, B=true  then  (A or B) is true

A=false, B=false  then (A or B) is false

In [79]:
cond = (1==1 or 2==2)
print('1==1 or 2==2 is {}'.format(cond))

1==1 or 2==2 is True

In [81]:
cond = (1==1 or 2==3)
print('1==1 or 2==3 is {}'.format(cond))

1==1 or 2==3 is True

In [83]:
cond = ( 4==5 or 2==2)
print('4==5 or 2==2 is {}'.format(cond))

4==5 or 2==2 is True

In [84]:
cond = (1==2 or 2==23)
print('1==2 or 2==23 is {}'.format(cond))

1==2 or 2==23 is False

'not' means the opposite

In [85]:
cond = (1==1)
not_cond = not cond
print('not 1 == 1 is {}'.format(not_cond) )

not 1 == 1 is False

#While Statement

while statement is like if statement

Difference between if and while:

while executes multiple times - its a type of loop

In [86]:
i = 0
while i<2:
  print(i)
  i= i+1

0
1

In [87]:
i=0
while i<7:
  print(i)
  i = i+2

0
2
4
6

#Break Statement

Break Statement is used to break from the loop

In [88]:
i = 0
while i<10:
  if i ==5:
    break 
  print(i)
  i= i+1

0
1
2
3
4

#Continue Statement

A continue statement stops the flow and goes back again to the starting point of block

break - breaks out of the block

continue - goes back to the start of the block

In [90]:
i = 0
while i<20:
  if (i%2 == 0):
    i = i+1
    continue
  print(i)
  i= i+1

1
3
5
7
9
11
13
15
17
19